
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
              /*navbar*/
html,body{
    height: 100%;
    width: 100%;
    background: #fffdfd;
}

nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #393E46;
    position: relative;
    height: 70px;
}
#name{
    color: #fff;
}

nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
}

.menu-icon{
    display: none;
}

.menu-icon i{
    color: #fff;
    font-size: 30px;
}
#name h1 span{
    color:#00ADB5 ;
}

/* home pages */
#home{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2%;
    gap: 10%;
}
.contant{
    min-height: 600px;
    min-width: 600px;
}

.contant h1{
    font-size: 3rem;
    margin-top: 10%;
}
.contant button{
    width: 130px;
    height: 50px;
    margin-top: 60px;
    margin-left: 5px;
    border-radius: 20px;
    color: white;
    border: none;
    box-shadow: -5px -5px 7px rgb(114, 114, 114),
                +4px +4px 4px rgb(51, 51, 51);
    background-color: #393E46;
}
.contant h1 span{
    color: #00ADB5;
}
.png img{
    margin-top: 20px;
    width: 100%;
    height: 400px;
}

/* about */

#About{
    width: auto;
    display: flex;
    background-color: #DCD6F7;
    justify-content: center;
    gap: 20%;
    flex-wrap: wrap;
}
.photo{
    min-height: 300px;
    margin-top: 10%;
    min-width: 400px;
    
}
.about{
    margin-top: 10%;
   width: 700px;
    height: 400px;
}
.photo img{
    width: 350px;
    height: 350px;
    border-radius: 10px;
    box-shadow: -5px -5px 5px rgb(59, 59, 59),
                +5px +5px 5px rgb(175, 173, 173);
}
.about h1{
    text-align: center;
    font-size: 3rem;
    color: #00ADB5;
}
.about p{
    margin-top: 10%;
    font-size: 1.5rem;
}
/*Skill*/
#skill{
    display: flex;
}
.skill{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.s1{
   text-align: center;
   margin-top: 10%;
   font-size: 3rem;
}
.n0{ 
    width: 150px;
    height: 150px;
    background-color: rgb(197, 189, 189);
    box-shadow: -5px -5px 5px rgb(51, 51, 51),
                +5px +5px 5px rgb(90, 90, 90);
    
}
.tool{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.t1{
    text-align: center;
    margin-top: 10%;
    font-size: 3rem;
}
.n1{
    width: 150px;
    height: 150px;
    background-color:  rgb(197, 189, 189);
    box-shadow: -5px -5px 5px rgb(75, 74, 74),
                +5px +5px 5px rgb(138, 136, 136); 
}
/*Project*/
#Project{
    background-color: #FFFC9B;
}
.project1{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.login{
    width: 500px;
    height: 500px; 
    box-shadow: -5px -5px 5px rgb(56, 55, 55),
                +5px +5px 5px rgb(138, 136, 136); 
}
.login img{
    width: 100%;
    height: 100%;
}
.todo{
    width: 500px;
    height: 500px;
    box-shadow:  -5px 5px rgb(80, 79, 79),
                +5px +5px 5px rgb(92, 92, 92); 
}
.todo img{
    width: 100%;
    height: 100%;
}
.p1{
    margin-top: 8%;
    text-align: center;
    font-size: 3rem;
    color: #0A1D56;
}
.project2{
    display: flex;
    justify-content: center;
    position: relative;
}
.wynk{
    width: 500px;
    height: 500px;
    margin-top: 30px;
    box-shadow:  -5px 5px rgb(153, 153, 153),
    +5px +5px 5px rgb(138, 136, 136); 
    overflow: hidden;
}
.wynk img{
    width: 100%;
    height: 100%;
}
/*Contact*/
#Contact{
    background-color: azure;
}
.container{
    display: flex;
    gap: 20%;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}
.Mail{
    display: flex;
    margin-top: 10%;
    flex-wrap: wrap;
    width: 400px;
    height: 5;
    background-color:#fff;
    box-shadow:  -5px 5px rgb(97, 96, 96),
    +5px +5px 5px rgb(117, 116, 116); 
}
.deatil{
    display: flex;
    margin-top: 10%;
    width: 400px;
    height: 400px;
}
.c{
    text-align: center;
    margin-top: 20px;
}
.c1{
    margin-left: 43%;
    color: aqua;
}
.user input{
    width: 300px;
    margin-top: 20px;
    border: none;
    height: 50px;
    text-align: center;
    margin-left: 20%;
    box-shadow:  -5px -5px rgb(97, 96, 96),
    +5px +5px 5px rgb(117, 116, 116); 
    border-radius: 10px;
}
.mail input{
    width: 300px;
    margin-top: 20px;
    border: none;
    height: 50px;
    text-align: center;
    margin-left: 20%;
    box-shadow:  -5px -5px rgb(97, 96, 96),
    +5px +5px 5px rgb(117, 116, 116); 
    border-radius: 10px;
}
.text textarea{
    width: 300px;
    margin-top: 40px;
    border: none;
    height: 50px;
    margin-left: 20%;
    box-shadow:  -5px -5px rgb(97, 96, 96),
    +5px +5px 5px rgb(117, 116, 116); 
    border-radius: 10px;
}
.but button{
    text-align: center;
    width: 200px;
    color: #0A1D56;
    background-color: #FFFC9B;
    margin-top: 40px;
    border: none;
    height: 50px;
    margin-left: 25%;
    border-radius: 20px;
    box-shadow:  -5px -5px 5px rgb(97, 96, 96),
       inset+5px +5px +5px 5px rgb(117, 116, 116); 
}
.deatil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.i1{
    display: flex;
    width: 100px;
    height: 100px;
    box-shadow: -5px -5px 5px rgb(75, 74, 74),
              +5px +5px 5px rgb(138, 136, 136); 
}


.i2{
    width: 100px;
    height: 100px;
    box-shadow: -5px -5px 5px rgb(75, 74, 74),
                +5px +5px 5px rgb(138, 136, 136);

}
.i3{
    width: 100px;
    height: 100px;
    box-shadow: -5px -5px 5px rgb(75, 74, 74),
                +5px +5px 5px rgb(138, 136, 136);
}

@media(max-width:600px)
{
   
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #004274;
        gap: 20%;
        overflow: hidden;
    }
    nav ul li{
        padding: 20px;
        padding-top: 0;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
}
}
@media(max-width:375px)
{
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #004274;
        overflow: hidden;
    }
    nav ul li{
        padding: 20px;
        padding-top: 0;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
}
.about p{
    text-align: center;
}
.about h1{
    left: 150px;
}
.todo{
    width: 100%;
    height: 100%;
    margin-top: 10px;
}
.login{
    width: 100%;
    height: 100%;
    margin-top: 10px;
}
.wynk{
    width: 100%;
    height: 100%;
    margin-top: 10px;
}
}
@media(max-width:320px)
{
    .photo img{
        margin-left: 20%;
        width: 250px;
        text-align: center;
        overflow: hidden;  
    }
    .todo{
        width: 100%;
        height: 100%;
        margin-top: 10px;
        overflow: hidden;
    }
    .login{
        width: 100%;
        height: 100%;
        margin-top: 10px;
    }
    .wynk{
        width: 100%;
        height: 100%;
        margin-top: 10px;
    }
    
    .todo img{
        width: 250px;
        margin-left: 10%;
        box-shadow: -5px -5px 5px rgb(75, 74, 74),
        +5px +5px 5px rgb(138, 136, 136);
    }
    .login img{
        width: 250px;
        margin-left: 10%;
        box-shadow: -5px -5px 5px rgb(75, 74, 74),
        +5px +5px 5px rgb(138, 136, 136);    
    }
    .wynk img{
        width: 250px;
        margin-left: 10%;
        box-shadow: -5px -5px 5px rgb(75, 74, 74),
        +5px +5px 5px rgb(138, 136, 136);  
    }
    .user input{
        width: 220px;
    }
    .mail input{
        width: 220px;
    }
    .text textarea {
        width: 220px;
    }
}
