.container{
   display: grid;
  justify-content: center;
  align-content: center;
  height: 500px;
  min-height: 200px;
  background-color: blueviolet;
}
.container h1{
   text-align: center;
}
.head{
display: flex;
flex-direction: column;
}
